#myTestID
{
	background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    position: 350px 40px 0px;
}

/* The parent panel for the wood/food labels and the respective amounts
	Add a background image and remove the border.
 */
.ResourcePanel
{
	width: 128px;
	height: 60px;

	border: 2px solid white;
	horizontal-align: right;
    vertical-align: bottom;

    margin-bottom: 21.2%;
}

/*
The panel containing the text for the word "food"
*/
#FoodNamePanel
{
	horizontal-align: left;
	width: 62px;
	height: 28px;
	border: 2px solid navy;
}

/*
The food text itself, whether this be an icon of food or what
*/
#FoodText,
#WoodText
{
	font-size: 20;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	color: white;
}

/*
The panel containing the text for the value of the players food
*/
#FoodValuePanel
{
	horizontal-align: right;
	width: 62px;
	height: 28px;
	border: 2px solid green;
}

/*
The food value text itself, this is number from the players food amount
*/
#FoodValueText,
#WoodValueText
{
	horizontal-align: center;
	text-align: right;
	font-size: 20;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	color: blue;
}


/*
The panel containing the text for the word "food"
*/
#WoodNamePanel
{
	vertical-align: bottom;
	horizontal-align: left;
	width: 62px;
	height: 28px;
	border: 2px solid navy;
}

/*
The panel containing the text for the value of the players food
*/
#WoodValuePanel
{
	vertical-align: bottom;
	horizontal-align: right;
	width: 62px;
	height: 28px;
	border: 2px solid green;
}